/* Global */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font: 20px/1.5 'Open Sans', sans-serif;
    background-color: #F2F2F2;
}

ul li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    width: 100px;
}

.col-sm-6 {
    padding: 0;
}

.col-md-4 {
    padding: 10px;
}

/* COPYRIGHT */
#copyright h1{
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
    margin: 0px;
    background-color: #f1edee;
}

/* NAVBAR */
.navbar-toggler {
    margin: 20px 20px 20px 10px;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    float: right;
}

.navbar-collapse {
    text-align: right;
}

.navbar-nav .nav-item .nav-link{
    display: block;
    float: right;
    margin: 10px 20px 20px 10px;
    width: 95px;
    height: auto;

    text-align: center;
    color: #272727;

    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: -7px -7px 20px 0 rgba(255,255,255,0.7), 7px 7px 20px 0 rgba(0,0,0,0.2);
}

.navbar-nav .nav-item .nav-link:hover {
    box-shadow: inset -7px -7px 20px 0 rgba(255,255,255,0.7), inset 7px 7px 20px 0 rgba(0,0,0,0.2);
}

/* LANDING PAGE */
#home {
    display: block;
    height: 100vh;
}

#home img#profile-pic {
    width: auto;
}

.welcome-section {
    float: right;
    margin: 0px 30px;
    padding: 15% 0 0 0;

    font-weight: bold;
    font-size: 96px;

    color: #272727;
}

.welcome-section#title {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 115px;
    /* font-size: 8vw; */
}

.welcome-section#expl {
    padding: 0;
    margin: 0px 30px 0px 30px;

    font-weight: normal;
    font-size: 27px;
}

button.welcome-section {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 20px;

    background-color: #f2f2f2;
    border-color: #F2F2F2;
    border-radius: 30px;
    box-shadow: -7px -7px 20px 0 rgba(255,255,255,0.7), 7px 7px 20px 0 rgba(0,0,0,0.2);
}

button.welcome-section:hover {
    color: #272727;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    box-shadow: inset -7px -7px 20px 0 rgba(255,255,255,0.7), inset 7px 7px 20px 0 rgba(0,0,0,0.2);
}

.modal-body {
    font-family: 'Josefin Slab', serif;
    font-size: 15px;
}
/* ABOUT Section */
#about {
    padding: 30px;

    text-align: center;
}

#about #title {
    margin: 20px;
    font-size: 50px;
    font-weight: bolder;
}

#about #expl {
    margin: 20px;
    padding: 0px 250px;
    font-size: 25px;
    font-weight: normal;
}

/* SKILLS Section */
#skills {
    min-height: 450px;
    background-image: url('../images/Skills_BG.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#skills img {
    width: 200px;
}
#skills .skills-section {
    padding: 20px 0px 0px 0px;
    margin: 10px 20px 0px 20px;

    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    color: #F2F2F2;
}

#skills .skills-section#main-title {
    padding-top: 35px;
    padding-bottom: 8px;
    margin-top: 0px;
}

#skills .skills-section #title{
    margin-top: 40px;
    
    font-size: 30px;
    font-weight: normal;
}

#skills .skills-section #expl{
    font-size: 24px;
    font-weight: normal;
    padding: 5px;
    margin-bottom: 30px;
    color: #272727;
    border: 5px solid #f2f2f2;
    border-radius: 80px;
    background-color: #F2F2F2;
}

/* EDUCATION Section */
#education .col-sm-6#left {
    padding: 0;

    background-color: #9c4137;
    border-radius: 0px 0px 75px 0px;
}

#education .col-sm-6#right #top{
    background-color: #9c4137;
}

#education .col-sm-6#right #bottom{
    background-color: #526E68;
}

#education .col-sm-6 #main-title{
    color: #F2F2F2;
    padding: 136px 0px;

    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#education #title {
    font-size: 25px;
    font-weight: bold;

    padding-left: 110px;
}

#education #expl {
    padding-left: 110px;
    font-weight: normal;
}

#education ul li.education-section {
    padding: 28px 0px 28px 50px;
    background-color: #F2F2F2;
}

#education ul li.education-section#upper {
    border-radius: 75px 0px 0px 0px;
}

#education ul li.education-section#lower {
    border-radius: 0px 0px 75px 0px;
}

#education img {
    float: left;
    padding: 10px;
}

/* EXPERIENCE Section */
#experience .col-sm-6#right {
    padding: 0;

    background-color: #526E68;
    border-radius: 75px 0px 0px 0px;
}

#experience .col-sm-6#left #top{
    background-color: #9c4137;
}

#experience .col-sm-6#left #bottom{
    background-color: #526E68;
}

#experience .col-sm-6 #main-title {
    color: #F2F2F2;
    margin: 276px 0px;

    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#experience #title {
    font-size: 25px;
    font-weight: bold;
    text-align: right;
}

#experience #expl {
    font-weight: normal;
    text-align: right;
    margin: 0;
}

#experience ul li.experience-section {
    padding: 25px 30px 25px 0px;
}
#experience #left ul li.experience-section#upper {
    padding-top: 35px;
    background-color: #F2F2F2;
    border-radius: 100px 0px 0px 0px;
}

#experience #left ul li.experience-section#lower {
    padding-bottom: 35px;
    background-color: #F2F2F2;
    border-radius: 0px 0px 75px 0px;
}

#experience img {
    float: right;
    padding: 10px;
}

/* PLAYLIST Section */
#playlist {
    text-align: center;
    color: #F2F2F2;

    min-height: 450px;
    background-image: url('../images/Playlist_BG.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#playlist #title {
    font-weight: bolder;
    font-size: 50px;
    padding: 30px 20px 40px 20px;
}

#playlist #expl {
    margin-bottom: 30px;
    height: 75vh;
    width: 80vw;
}

/* CONTACT Section */
#contact {
    padding: 20px;
    text-align: center;
    background-color: #f1edee;
}

#contact #title {
    font-weight: bold;
}

#contact img {
    width: 40px;
    margin: 10px 30px 10px 30px
}

/* Responsive EXPERIENCE Section */
.responsive#experience .col-sm-6{
    background-color: #F2F2F2;
}

.responsive#experience .col-sm-6 #main-title {
    padding: 0px;
    font-size: 0px;
    margin: 0px;
}

@media only screen and (max-width: 450px) {
    /* NAVBAR */
    .navbar-toggler {
        margin-right: 0px;
    }
    .navbar-nav .nav-item .nav-link{
        font-size: 13px;
        width: 75px;
    }

    /* WELCOME Section */
    .welcome-section#title {
        padding-top: 30px;
        font-size: 60px;
    }
    .welcome-section#expl {
        font-size: 18px;
    }
    button.welcome-section {
        padding: 5px 15px;
        margin-top: 15px;
        margin-bottom: 20px;
    
        font-size: 13px;
    }

    /* ABOUT Section */
    #about {
        padding-top: 0px;
    }
    #about #title {
        margin-top: 20px;
        font-size: 40px;
    }
    #about #expl {
        padding: 0px;
        margin: 0px;
        font-size: 17px;
        font-weight: normal;
    }

    /* SKILLS Section */
    #skills img {
        width: 130px;
    }
    #skills .skills-section {
        font-size: 40px;
    }
    #skills .row.one.skills-section {
        padding-top: 0px;
    }
    #skills .skills-section #title{
        margin-top: 20px;
        font-size: 22px;
    }
    #skills .skills-section #expl{
        font-size: 14px;
    }

    /* EDUCATION Section */
    #education .col-sm-6#left {
        border-radius: 0px 0px 75px 0px;
    }
    #education .col-sm-6 #main-title{
        padding: 70px 0px;
        font-size: 40px;
        margin-bottom: 0px;
    }
    #education #title {
        padding-left: 0px;
        font-size: 18px;
        text-align: center;
    }
    #education #expl {
        padding-left: 0px;
        margin-bottom: 0px;
        font-size: 14px;
        text-align: center;
    }
    #education ul li.education-section {
        padding: 30px 30px;
    }
    #education ul li.education-section#upper {
        padding-bottom: 0px;
        border-radius: 75px 0px 0px 0px;
    }
    #education ul li.education-section#lower {
        border-radius: 0px 0px 75px 0px;
    }
    #education img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        float: none;
        width: 80px;
    }

    /* EXPERIENCE Section */
    #experience .col-sm-6 #main-title {
        padding: 0px;
        font-size: 0px;
        margin: 0px;
    }
    .responsive#experience .col-sm-6{
        border-radius: 75px 0px 0px 75px;
        background-color: #526E68;
    }
    .responsive#experience .col-sm-6 #main-title {
        padding: 70px 0px;
        font-size: 40px;
        margin: 0px;
    }
    #experience .col-sm-6#left #top{
        background-color: #526E68;
    }
    #experience #title {
        padding-left: 0px;
        font-size: 18px;
        text-align: center;
    }
    #experience #expl {
        padding-left: 0px;
        font-size: 14px;
        text-align: center;
    }
    #experience ul li.experience-section {
        padding: 18px 30px;
    }
    #experience #left ul li.experience-section#upper {
        border-radius: 0px 75px 0px 0px;
    }
    #experience #left ul li.experience-section#lower {
        border-radius: 0px;
    }
    #experience img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        float: none;
        padding: 0px;
        width: 80px;
    }

    /* PLAYLIST Section */
    #playlist #title {
        font-weight: bolder;
        font-size: 40px;
        padding: 20px 20px 10px 20px;
    }

    /* CONTACT Section */
    #contact #title {
        font-size: 22px;
    }
    #contact img {
        width: 25px;
        margin: 10px 10px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 575px) {
    /* NAVBAR */
    .navbar-nav .nav-item .nav-link{
        font-size: 18px;
        width: 100px;
    }

    /* WELCOME Section */
    .welcome-section#title {
        padding-top: 40px;
        font-size: 100px;
    }
    .welcome-section#expl {
        font-size: 30px;
    }
    button.welcome-section {
        padding: 5px 15px;
        margin-top: 15px;
        margin-bottom: 20px;
    
        font-size: 15px;
    }

    /* ABOUT Section */
    #about {
        display: block;
        padding-top: 0px;
    }
    #about #title {
        margin-top: 0px;
        font-size: 40px;
    }
    #about #expl {
        margin: 0px;
        padding: 0px;
        font-size: 20px;
    }

    /* SKILLS Section */
    #skills img {
        width: 180px;
    }
    #skills .skills-section {
        font-size: 40px;
    }
    #skills .row.one.skills-section {
        padding-top: 0px;
    }
    #skills .skills-section #title{
        margin-top: 20px;
        font-size: 30px;
    }
    #skills .skills-section #expl{
        font-size: 20px;
    }

    /* EDUCATION Section */
    #education .col-sm-6 #main-title{
        padding: 100px 0px;
        font-size: 40px;
        margin-bottom: 0px;
    }
    #education #title {
        padding-left: 0px;
        font-size: 25px;
        text-align: center;
    }
    #education #expl {
        padding-left: 0px;
        margin-bottom: 0px;
        font-size: 20px;
        text-align: center;
    }
    #education ul li.education-section {
        padding: 30px 30px;
    }
    #education ul li.education-section#upper {
        padding-bottom: 0px;
        border-radius: 75px 0px 0px 0px;
    }
    #education ul li.education-section#lower {
        border-radius: 0px 0px 75px 0px;
    }
    #education img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        float: none;
        width: 100px;
    }

    /* EXPERIENCE Section */
    #experience .col-sm-6 #main-title {
        padding: 0px;
        font-size: 0px;
        margin: 0px;
    }
    .responsive#experience .col-sm-6{
        border-radius: 75px 0px 0px 75px;
        background-color: #526E68;
    }
    .responsive#experience .col-sm-6 #main-title {
        padding: 100px 0px;
        font-size: 40px;
        margin: 0px;
    }
    #experience .col-sm-6#left #top{
        background-color: #526E68;
    }
    #experience #title {
        padding-left: 0px;
        font-size: 30px;
        text-align: center;
    }
    #experience #expl {
        padding-left: 0px;
        font-size: 20px;
        text-align: center;
    }
    #experience ul li.experience-section {
        padding: 18px 30px;
    }
    #experience #left ul li.experience-section#upper {
        /* padding-bottom: 0px; */
        border-radius: 0px 75px 0px 0px;
    }
    #experience #left ul li.experience-section#lower {
        border-radius: 0px;
    }
    #experience img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        float: none;
        padding: 0px;
        width: 100px;
    }

    /* PLAYLIST Section */
    #playlist #title {
        font-weight: bolder;
        font-size: 40px;
        padding: 40px 20px 10px 20px;
    }

    /* CONTACT Section */
    #contact #title {
        font-size: 27px;
    }
    #contact img {
        width: 35px;
        margin: 10px 15px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 762px){
    /* NAVBAR */
    .navbar-nav .nav-item .nav-link{
        font-size: 18px;
        width: 100px;
    }

    /* WELCOME Section */
    .welcome-section#title {
        padding-top: 40px;
        font-size: 100px;
    }
    .welcome-section#expl {
        font-size: 30px;
    }
    button.welcome-section {
        padding: 5px 15px;
        margin-top: 15px;
        margin-bottom: 20px;
    
        font-size: 15px;
    }

    /* ABOUT Section */
    #about {
        display: block;
        padding-top: 0px;
    }
    #about #title {
        margin-top: 0px;
        font-size: 40px;
    }
    #about #expl {
        margin: 0px;
        padding: 0px;
        font-size: 20px;
    }

    /* SKILLS Section */
    #skills img {
        width: 180px;
    }
    #skills .skills-section {
        font-size: 40px;
    }
    #skills .row.one.skills-section {
        padding-top: 0px;
    }
    #skills .skills-section #title{
        margin-top: 20px;
        font-size: 30px;
    }
    #skills .skills-section #expl{
        font-size: 20px;
    }

    /* EDUCATION Section */
    #education .col-sm-6 #main-title{
        height: 100%;
        padding: 259px 0px;
        font-size: 40px;
        margin-bottom: 0px;
    }
    #education #title {
        padding-left: 0px;
        font-size: 25px;
        text-align: center;
    }
    #education #expl {
        padding-left: 0px;
        margin-bottom: 0px;
        font-size: 20px;
        text-align: center;
    }
    #education ul li.education-section {
        padding: 30px 30px;
    }
    #education ul li.education-section#upper {
        padding-bottom: 0px;
        border-radius: 75px 0px 0px 0px;
    }
    #education ul li.education-section#lower {
        border-radius: 0px 0px 75px 0px;
    }
    #education img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        float: none;
        width: 100px;
    }

    /* EXPERIENCE Section */
    #experience .col-sm-6 #main-title {
        padding: 100px 0px;
        font-size: 40px;
        margin: 0px;
    }
    #experience .col-sm-6#left #top{
        background-color: #9c4137;
    }
    #experience #title {
        padding-left: 0px;
        font-size: 30px;
        text-align: center;
    }
    #experience #expl {
        padding-left: 0px;
        font-size: 20px;
        text-align: center;
    }
    #experience ul li.experience-section {
        padding: 18px 30px;
    }
    #experience img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        float: none;
        padding: 0px;
        width: 100px;
    }

    /* PLAYLIST Section */
    #playlist #title {
        font-weight: bolder;
        font-size: 40px;
        padding: 40px 20px 10px 20px;
    }

    /* CONTACT Section */
    #contact #title {
        font-size: 27px;
    }
    #contact img {
        width: 35px;
        margin: 10px 15px;
    }    
}

@media only screen and (min-width: 632px) and (max-width: 762px){
    /* NAVBAR */
    .navbar-nav .nav-item .nav-link{
        font-size: 18px;
        width: 100px;
    }

    /* WELCOME Section */
    .welcome-section#title {
        padding-top: 40px;
        font-size: 100px;
    }
    .welcome-section#expl {
        font-size: 30px;
    }
    button.welcome-section {
        padding: 5px 15px;
        margin-top: 15px;
        margin-bottom: 20px;
    
        font-size: 15px;
    }

    /* ABOUT Section */
    #about {
        display: block;
        padding-top: 0px;
    }
    #about #title {
        margin-top: 0px;
        font-size: 40px;
    }
    #about #expl {
        margin: 0px;
        padding: 0px;
        font-size: 20px;
    }

    /* SKILLS Section */
    #skills img {
        width: 180px;
    }
    #skills .skills-section {
        font-size: 40px;
    }
    #skills .row.one.skills-section {
        padding-top: 0px;
    }
    #skills .skills-section #title{
        margin-top: 20px;
        font-size: 30px;
    }
    #skills .skills-section #expl{
        font-size: 20px;
    }

    /* EDUCATION Section */
    #education .col-sm-6 #main-title{
        height: 100%;
        padding: 244px 0px;
        font-size: 40px;
        margin-bottom: 0px;
    }
    #education #title {
        padding-left: 0px;
        font-size: 25px;
        text-align: center;
    }
    #education #expl {
        padding-left: 0px;
        margin-bottom: 0px;
        font-size: 20px;
        text-align: center;
    }
    #education ul li.education-section {
        padding: 30px 30px;
    }
    #education ul li.education-section#upper {
        padding-bottom: 0px;
        border-radius: 75px 0px 0px 0px;
    }
    #education ul li.education-section#lower {
        border-radius: 0px 0px 75px 0px;
    }
    #education img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        float: none;
        width: 100px;
    }

    /* EXPERIENCE Section */
    #experience .col-sm-6 #main-title {
        padding: 100px 0px;
        font-size: 40px;
        margin: 0px;
    }
    #experience .col-sm-6#left #top{
        background-color: #9c4137;
    }
    #experience #title {
        padding-left: 0px;
        font-size: 30px;
        text-align: center;
    }
    #experience #expl {
        padding-left: 0px;
        font-size: 20px;
        text-align: center;
    }
    #experience ul li.experience-section {
        padding: 18px 30px;
    }
    #experience img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        float: none;
        padding: 0px;
        width: 100px;
    }

    /* PLAYLIST Section */
    #playlist #title {
        font-weight: bolder;
        font-size: 40px;
        padding: 40px 20px 10px 20px;
    }

    /* CONTACT Section */
    #contact #title {
        font-size: 27px;
    }
    #contact img {
        width: 35px;
        margin: 10px 15px;
    }    
}

@media only screen and (min-width: 763px) and (max-width: 822px){
    /* NAVBAR */
    .navbar-nav .nav-item .nav-link{
        font-size: 24px;
        width: 120px;
        border-radius: 40px;
    }

    /* WELCOME Section */
    .welcome-section#title {
        padding-top: 40px;
        font-size: 140px;
    }
    .welcome-section#expl {
        font-size: 38px;
    }
    button.welcome-section {
        padding: 15px;
        margin-top: 25px;
        margin-bottom: 20px;
    
        font-size: 25px;

        border-radius: 40px;
    }

    /* ABOUT Section */
    #about {
        display: block;
        padding-top: 0px;
    }
    #about #title {
        margin-top: 100px;
    }
    #about #expl {
        margin: 0px;
        padding: 0px 30px;
        font-size: 25px;
    }

    /* SKILLS Section */
    #skills img {
        width: 150px;
    }
    #skills .row.one.skills-section {
        padding-top: 0px;
    }
    #skills .skills-section #title{
        margin-top: 20px;
        font-size: 30px;
    }
    #skills .skills-section #expl{
        font-size: 18px;
        padding: 5px 10px;
    }

    /* EDUCATION Section */
    #education .col-sm-6 #main-title{
        padding: 136px 0px;
        margin-bottom: 0px;
    }
    #education #title {
        padding-left: 120px;
        font-size: 20px;
    }
    #education #expl {
        margin-bottom: 0px;
        padding-left: 120px;
        font-size: 18px;
    }
    #education #upper #title {
        padding-top: 11px;
    }
    #education #upper #expl {
        padding-bottom: 11px;
    }
    #education ul li.education-section {
        padding: 30px 30px;
    }
    #education img {
        width: 100px;
    }

    /* EXPERIENCE Section */
    #experience .col-sm-6 #main-title {
        margin: 282px 0px;
    }
    #experience #title {
        padding-right: 110px;
        font-size: 20px;
    }
    #experience #expl {
        padding-right: 110px;
        font-size: 18px;
    }
} 

@media only screen and (min-width: 823px) and (max-width: 847px){
        /* NAVBAR */
        .navbar-nav .nav-item .nav-link{
            font-size: 24px;
            width: 120px;
            border-radius: 40px;
        }
    
        /* WELCOME Section */
        .welcome-section#title {
            padding-top: 40px;
            font-size: 140px;
        }
        .welcome-section#expl {
            font-size: 38px;
        }
        button.welcome-section {
            padding: 15px;
            margin-top: 25px;
            margin-bottom: 20px;
        
            font-size: 25px;
    
            border-radius: 40px;
        }
    
        /* ABOUT Section */
        #about {
            display: block;
            padding-top: 0px;
        }
        #about #title {
            margin-top: 100px;
        }
        #about #expl {
            margin: 0px;
            padding: 0px 30px;
            font-size: 25px;
        }
    
        /* SKILLS Section */
        #skills img {
            width: 150px;
        }
        #skills .row.one.skills-section {
            padding-top: 0px;
        }
        #skills .skills-section #title{
            margin-top: 20px;
            font-size: 30px;
        }
        #skills .skills-section #expl{
            font-size: 18px;
            padding: 5px 10px;
        }
    
        /* EDUCATION Section */
        #education .col-sm-6 #main-title{
            padding: 136px 0px;
            margin-bottom: 0px;
        }
        #education #title {
            padding-left: 120px;
            font-size: 20px;
        }
        #education #expl {
            margin-bottom: 0px;
            padding-left: 120px;
            font-size: 18px;
        }
        #education #upper #title {
            padding-top: 11px;
        }
        #education #upper #expl {
            padding-bottom: 11px;
        }
        #education ul li.education-section {
            padding: 30px 30px;
        }
        #education img {
            width: 100px;
        }
    
        /* EXPERIENCE Section */
        #experience .col-sm-6 #main-title {
            margin: 270px 0px;
        }
        #experience #title {
            padding-right: 110px;
            font-size: 20px;
        }
        #experience #expl {
            padding-right: 110px;
            font-size: 18px;
        }    
}

@media only screen and (min-width: 848px) and (max-width: 855px){
    /* NAVBAR */
    .navbar-nav .nav-item .nav-link{
        font-size: 24px;
        width: 120px;
        border-radius: 40px;
    }

    /* WELCOME Section */
    .welcome-section#title {
        padding-top: 40px;
        font-size: 140px;
    }
    .welcome-section#expl {
        font-size: 38px;
    }
    button.welcome-section {
        padding: 15px;
        margin-top: 25px;
        margin-bottom: 20px;
    
        font-size: 25px;

        border-radius: 40px;
    }

    /* ABOUT Section */
    #about {
        display: block;
        padding-top: 0px;
    }
    #about #title {
        margin-top: 100px;
    }
    #about #expl {
        margin: 0px;
        padding: 0px 30px;
        font-size: 25px;
    }

    /* SKILLS Section */
    #skills img {
        width: 150px;
    }
    #skills .row.one.skills-section {
        padding-top: 0px;
    }
    #skills .skills-section #title{
        margin-top: 20px;
        font-size: 30px;
    }
    #skills .skills-section #expl{
        font-size: 18px;
        padding: 5px 10px;
    }

    /* EDUCATION Section */
    #education .col-sm-6 #main-title{
        padding: 136px 0px;
        margin-bottom: 0px;
    }
    #education #title {
        padding-left: 120px;
        font-size: 20px;
    }
    #education #expl {
        margin-bottom: 0px;
        padding-left: 120px;
        font-size: 18px;
    }
    #education #upper #title {
        padding-top: 11px;
    }
    #education #upper #expl {
        padding-bottom: 11px;
    }
    #education ul li.education-section {
        padding: 30px 30px;
    }
    #education img {
        width: 100px;
    }

    /* EXPERIENCE Section */
    #experience .col-sm-6 #main-title {
        margin: 258px 0px;
    }
    #experience #title {
        padding-right: 110px;
        font-size: 20px;
    }
    #experience #expl {
        padding-right: 110px;
        font-size: 18px;
    }    
}

@media only screen and (min-width: 856px) and (max-width: 865px){
    /* NAVBAR */
    .navbar-nav .nav-item .nav-link{
        font-size: 24px;
        width: 120px;
        border-radius: 40px;
    }

    /* WELCOME Section */
    .welcome-section#title {
        padding-top: 40px;
        font-size: 140px;
    }
    .welcome-section#expl {
        font-size: 38px;
    }
    button.welcome-section {
        margin-top: 25px;
        margin-bottom: 20px;
    
        font-size: 25px;

        border-radius: 40px;
    }

    /* ABOUT Section */
    #about {
        display: block;
        padding-top: 0px;
    }
    #about #title {
        margin-top: 100px;
    }
    #about #expl {
        margin: 0px;
        padding: 0px 30px;
        font-size: 25px;
    }

    /* SKILLS Section */
    #skills img {
        width: 150px;
    }
    #skills .row.one.skills-section {
        padding-top: 0px;
    }
    #skills .skills-section #title{
        margin-top: 20px;
        font-size: 30px;
    }
    #skills .skills-section #expl{
        font-size: 18px;
        padding: 5px 10px;
    }

    /* EDUCATION Section */
    #education .col-sm-6 #main-title{
        padding: 136px 0px;
        margin-bottom: 0px;
    }
    #education #title {
        padding-left: 120px;
        font-size: 20px;
    }
    #education #expl {
        margin-bottom: 0px;
        padding-left: 120px;
        font-size: 18px;
    }
    #education #upper #title {
        padding-top: 11px;
    }
    #education #upper #expl {
        padding-bottom: 11px;
    }
    #education ul li.education-section {
        padding: 30px 30px;
    }
    #education img {
        width: 100px;
    }

    /* EXPERIENCE Section */
    #experience .col-sm-6 #main-title {
        margin: 258px 0px;
    }
    #experience #title {
        padding-right: 110px;
        font-size: 20px;
    }
    #experience #expl {
        padding-right: 110px;
        font-size: 18px;
    }    
}

@media only screen and (min-width: 866px) and (max-width: 870px){
        /* NAVBAR */
        .navbar-nav .nav-item .nav-link{
            font-size: 24px;
            width: 120px;
            border-radius: 40px;
        }
    
        /* WELCOME Section */
        .welcome-section#title {
            padding-top: 40px;
            font-size: 140px;
        }
        .welcome-section#expl {
            font-size: 38px;
        }
        button.welcome-section {
            margin-top: 25px;
            margin-bottom: 20px;
        
            font-size: 25px;
    
            border-radius: 40px;
        }
    
        /* ABOUT Section */
        #about {
            display: block;
            padding-top: 0px;
        }
        #about #title {
            margin-top: 100px;
        }
        #about #expl {
            margin: 0px;
            padding: 0px 30px;
            font-size: 25px;
        }
    
        /* SKILLS Section */
        #skills img {
            width: 150px;
        }
        #skills .row.one.skills-section {
            padding-top: 0px;
        }
        #skills .skills-section #title{
            margin-top: 20px;
            font-size: 30px;
        }
        #skills .skills-section #expl{
            font-size: 18px;
            padding: 5px 10px;
        }
    
        /* EDUCATION Section */
        #education .col-sm-6 #main-title{
            padding: 136px 0px;
            margin-bottom: 0px;
        }
        #education #title {
            padding-left: 120px;
            font-size: 20px;
        }
        #education #expl {
            margin-bottom: 0px;
            padding-left: 120px;
            font-size: 18px;
        }
        #education #upper #title {
            padding-top: 11px;
        }
        #education #upper #expl {
            padding-bottom: 11px;
        }
        #education ul li.education-section {
            padding: 30px 30px;
        }
        #education img {
            width: 100px;
        }
    
        /* EXPERIENCE Section */
        #experience .col-sm-6 #main-title {
            margin: 246px 0px;
        }
        #experience #title {
            padding-right: 110px;
            font-size: 20px;
        }
        #experience #expl {
            padding-right: 110px;
            font-size: 18px;
        }        
}

@media only screen and (min-width: 871px) and (max-width: 895px){
    /* NAVBAR */
    .navbar-nav .nav-item .nav-link{
        font-size: 24px;
        width: 120px;
        border-radius: 40px;
    }

    /* WELCOME Section */
    .welcome-section#title {
        padding-top: 40px;
        font-size: 140px;
    }
    .welcome-section#expl {
        font-size: 38px;
    }
    button.welcome-section {
        margin-top: 25px;
        margin-bottom: 20px;
    
        font-size: 25px;

        border-radius: 40px;
    }

    /* ABOUT Section */
    #about {
        display: block;
        padding-top: 0px;
    }
    #about #title {
        margin-top: 100px;
    }
    #about #expl {
        margin: 0px;
        padding: 0px 30px;
        font-size: 25px;
    }

    /* SKILLS Section */
    #skills img {
        width: 150px;
    }
    #skills .row.one.skills-section {
        padding-top: 0px;
    }
    #skills .skills-section #title{
        margin-top: 20px;
        font-size: 30px;
    }
    #skills .skills-section #expl{
        font-size: 18px;
        padding: 5px 10px;
    }

    /* EDUCATION Section */
    #education .col-sm-6 #main-title{
        padding: 136px 0px;
        margin-bottom: 0px;
    }
    #education #title {
        padding-left: 120px;
        font-size: 20px;
    }
    #education #expl {
        margin-bottom: 0px;
        padding-left: 120px;
        font-size: 18px;
    }
    #education #upper #title {
        padding-top: 11px;
    }
    #education #upper #expl {
        padding-bottom: 11px;
    }
    #education ul li.education-section {
        padding: 30px 30px;
    }
    #education img {
        width: 100px;
    }

    /* EXPERIENCE Section */
    #experience .col-sm-6 #main-title {
        margin: 246px 0px;
    }
    #experience #title {
        padding-right: 110px;
        font-size: 20px;
    }
    #experience #expl {
        padding-right: 110px;
        font-size: 18px;
    }        
}

@media only screen and (min-width: 896px) and (max-width: 1135px){
    /* NAVBAR */
    .navbar-nav .nav-item .nav-link{
        font-size: 24px;
        width: 120px;
        border-radius: 40px;
    }

    /* WELCOME Section */
    .welcome-section#title {
        padding-top: 40px;
        font-size: 140px;
    }
    .welcome-section#expl {
        font-size: 38px;
    }
    button.welcome-section {
        margin-top: 25px;
        margin-bottom: 20px;
    
        font-size: 25px;

        border-radius: 40px;
    }

    /* ABOUT Section */
    #about {
        display: block;
        padding-top: 0px;
    }
    #about #title {
        margin-top: 100px;
    }
    #about #expl {
        margin: 0px;
        padding: 0px 30px;
        font-size: 25px;
    }

    /* SKILLS Section */
    #skills img {
        width: 150px;
    }
    #skills .row.one.skills-section {
        padding-top: 0px;
    }
    #skills .skills-section #title{
        margin-top: 20px;
        font-size: 30px;
    }
    #skills .skills-section #expl{
        font-size: 18px;
        padding: 5px 10px;
    }

    /* EDUCATION Section */
    #education .col-sm-6 #main-title{
        padding: 124px 0px;
        margin-bottom: 0px;
    }
    #education #title {
        padding-left: 120px;
        font-size: 20px;
    }
    #education #expl {
        margin-bottom: 0px;
        padding-left: 120px;
        font-size: 18px;
    }
    #education #upper #title {
        padding-top: 11px;
    }
    #education #upper #expl {
        padding-bottom: 11px;
    }
    #education ul li.education-section {
        padding: 30px 30px;
    }
    #education img {
        width: 100px;
    }

    /* EXPERIENCE Section */
    #experience .col-sm-6 #main-title {
        margin: 246px 0px;
    }
    #experience #title {
        padding-right: 110px;
        font-size: 20px;
    }
    #experience #expl {
        padding-right: 110px;
        font-size: 18px;
    }        
}

@media only screen and (min-width: 1136px) and (max-width: 1300px){
    /* NAVBAR */
    .navbar-nav .nav-item .nav-link{
        font-size: 24px;
        width: 120px;
        border-radius: 40px;
    }

    /* WELCOME Section */
    .welcome-section#title {
        padding-top: 40px;
        font-size: 140px;
    }
    .welcome-section#expl {
        font-size: 38px;
    }
    button.welcome-section {
        padding: 15px;
        margin-top: 25px;
        margin-bottom: 20px;
    
        font-size: 25px;

        border-radius: 40px;
    }

    /* ABOUT Section */
    #about {
        display: block;
        padding-top: 0px;
    }
    #about #title {
        margin-top: 100px;
    }
    #about #expl {
        margin: 0px;
        padding: 0px 30px;
        font-size: 25px;
    }

    /* SKILLS Section */
    #skills img {
        width: 150px;
    }
    #skills .row.one.skills-section {
        padding-top: 0px;
    }
    #skills .skills-section #title{
        margin-top: 20px;
        font-size: 30px;
    }
    #skills .skills-section #expl{
        font-size: 18px;
        padding: 5px 10px;
    }

    /* EDUCATION Section */
    #education .col-sm-6 #main-title{
        padding: 124px 0px;
        margin-bottom: 0px;
    }
    #education #title {
        padding-left: 120px;
        font-size: 20px;
    }
    #education #expl {
        margin-bottom: 0px;
        padding-left: 120px;
        font-size: 18px;
    }
    #education #upper #title {
        padding-top: 11px;
    }
    #education #upper #expl {
        padding-bottom: 11px;
    }
    #education ul li.education-section {
        padding: 30px 30px;
    }
    #education img {
        width: 100px;
    }

    /* EXPERIENCE Section */
    #experience .col-sm-6 #main-title {
        margin: 246px 0px;
    }
    #experience #title {
        padding-right: 110px;
        font-size: 20px;
    }
    #experience #expl {
        padding-right: 110px;
        font-size: 18px;
    }        
}