<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Link CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen"/>
    <style>
      html, body {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
      }
    </style>

    <!-- Link font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:700|Open+Sans:400,700,800|Roboto+Slab:700&display=swap" rel="stylesheet">

    <title>Surya Nirvana</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-auto" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger yellow-text" href="#about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">history</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#playlist">playlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">contact</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div id="home">
        <img id="profile-pic" src="{% static 'images/profile-04.png' %}" class="rounded float-left img-fluid" alt="Profile Picture">
        <h1 class="welcome-section ml-auto" id="title">welcome</h1>
        <h2 class="welcome-section ml-auto" id="expl">to Surya Nirvana's website.</h2>
      
        <!-- Button trigger modal -->
        <button type="button" class="welcome-section ml-auto" data-toggle="modal" data-target="#exampleModal">Click Here for Surprise!</button>
  
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Hey there 😊</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        Have a nice day!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="about">
        <h1 id="title">about</h1>
        <p id="expl">
            “Second year undergraduate Computer Science student who is seeking
            for an experience in Tech (Engineering) and Data Science Department.
            A hardworking and tech-savvy person who also value in
            creativity and analytical thinking”
        </p>
    </div>

    <div id="skills">
        <h1 class="skills-section" id="main-title">skills</h1>
        <div class="row one skills-section">
            <div class="col-md-4">
                <img src="{% static 'images/Skill-03.png' %}">
                <h3 id="title">Programming</h3>
                <p id="expl">Java ● Python</p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/Skill-01.png' %}">
                <h3 id="title">Analytics</h3>
                <p id="expl">Python ● PostgreSQL ● Excel</p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/Skill-02.png' %}">
                <h3 id="title">Web/Media</h3>
                <p id="expl">Illustrator ● HTML/CSS/JavaScript</p>
            </div>
        </div>
    </div>

    <div id="education">
        <div class="row two align-items-center">
            <div class="col-sm-6" id="left">
                <h2 class="education-section" id="main-title">education</h2>
            </div>
            <div class="col-sm-6 align-items-center" id="right">
                <ul>
                    <div id="top">
                        <li class="education-section" id="upper">
                            <img src="{% static 'images/highschool.png' %}">
                            <h2 id="title">
                                Taruna Bakti<br>
                                Senior High School
                            </h2>
                            <p class="education-section" id="expl">2015-2018</p>
                        </li>
                    </div>
                    <div id="bottom">
                        <li class="education-section" id="lower">
                            <img src="{% static 'images/college.png' %}">
                            <h2 id="title">
                                Faculty of Computer Science<br>
                                Universitas Indonesia
                            </h2>
                            <p class="education-section" id="expl">2018-Present</p>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div class="responsive" id="experience">
        <div class="row four">
            <div class="col-sm-6">
                <h2 class="experience-section" id="main-title">experience</h2>
            </div>
        </div>
    </div>

    <div id="experience">
        <div class="row three">
            <div class="col-sm-6" id="left">
                <ul>
                    <div id="top">
                        <li class="experience-section" id="upper">
                            <img src="{% static 'images/work-2.png' %}">
                            <h2 id="title">
                                Social Media Intern<br>
                                at DailySocial.id
                            </h2>
                            <p id="expl">Jun 2019 - Aug 2019</p>
                        </li>
                    </div>
                    <li class="experience-section">
                      <img src="{% static 'images/school-2.png' %}">
                      <h2 id="title">
                        Database Teaching Assistant<br>
                        at Fasilkom UI
                      </h2>
                      <p id="expl">Jan 2019 - Present</p>
                    </li>
                    <li class="experience-section">
                        <img src="{% static 'images/team.png' %}">
                        <h2 id="title">
                            Manager of Human Resources<br>
                            at PERAK Fasilkom
                        </h2>
                        <p id="expl">Aug 2019 - Present</p>
                    </li>
                    <div id="bottom">
                        <li class="experience-section" id="lower">
                            <img src="{% static 'images/shout.png' %}">
                            <h2 id="title">
                                Vice Person in Charge of<br>
                                Digital Marketing at COMPFEST
                            </h2>
                            <p id="expl">Oct 2019 - Present</p>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="col-sm-6" id="right">
                <h2 class="experience-section" id="main-title">experience</h2>
            </div>
        </div>
    </div>

    <div id="playlist">
        <h1 id="title">current playlist</h1>
        <iframe src="https://open.spotify.com/embed/playlist/0fNjwd1kqL8aaSuHpTyRMJ" frameborder="0" allowtransparency="true" allow="encrypted-media" id="expl"></iframe>
    </div>

    <div id="contact">
        <h3 class="contact-section" id="title">stay in touch with me</h3>
        <ul>
            <a class="contact-section" id="expl" href="mailto:suryanirvanaprima@gmail.com"><img src="{% static 'images/email.png' %}"></a>
            <a class="contact-section" id="expl" href="https://www.linkedin.com/in/suryanirvana"><img src="{% static 'images/linkedin-3.png' %}"></a>
            <a class="contact-section" id="expl" href="https://www.instagram.com/suryanirvana"><img src="{% static 'images/instagram-5.png' %}"></a>
        </ul>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>